{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<div class="container vh-100 d-flex flex-column align-items-center justify-content-center">
<!-- <h5 class="text-center mb-3"><b>S</b>istema de <b>A</b>dministración de <b>R</b>ecursos y <b>A</b>plicaciones</h5>-->
    <div class="card shadow-lg rounded-3 border-0" style="max-width: 400px; width: 100%; animation: fadeIn 0.8s ease-in-out;">
        <div class="card-body p-4 textoI" style="font-family: Lato;">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="text-center mb-3">
                <img src="{% static 'imgs/logocompleto.webp' %}" 
                alt="Logo de imsalud" 
                style="max-width: 150px; height: auto;">
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="username" placeholder="Usuario" required>
                <label for="username">Usuario</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
                <label for="password">Contraseña</label>
            </div>
            <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-success btn-lg" name="login" style="font-family: Lato;">
                    <i class="fas fa-sign-in-alt me-2"></i> Iniciar sesión
                </button>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="text-center">

                <div class="row">
                    <div class="col">
                    </div>

                  
                </div>

                <br>
             
                
            </div>

        </form>
        </div>
    </div> 
    <br>

    <div class="text-center mt-3" style="color: white;">
        "Lo que debe <b>hacerse</b>, requiere ser <b>bien</b> hecho." <br>
        E.S.E IMSALUD &copy V0.0 - SECOPS
    </div>
</div>
{% endblock contenido %}
